<nav class="navbar navbar-expand-lg" style="background-color: #1E1E1E;">
  <div class="container-fluid px-3">
    <a class="navbar-brand text" href="#">Rick & Morty</a>

    <!-- Mostrar "Log as Guest" cuando no esté logueado -->
    <a *ngIf="!isLoggedIn" class="navbar-brand text" href="#" (click)="loginAsGuest()">Log as Guest</a>

    <!-- Mostrar enlaces de navegación cuando esté logueado -->
    <div *ngIf="isLoggedIn" class="d-flex align-items-center">
      <a class="nav-link text" href="#">Characters <span class="badge bg-danger">84</span></a>
      <a class="nav-link text" href="#">Episodes <span class="badge bg-danger">42</span></a>
      <a class="nav-link text" href="#">Locations</a>
      <a class="nav-link text" href="#">{{name}}</a>
      <a class="nav-link text" href="#" (click)="logout()">Log Out</a>
    </div>
  </div>
</nav>
