<app-header></app-header>
<div class="mt-4 ms-4 me-4">
   <app-navbar></app-navbar>
</div>
<div class="container-fluid row justify-content-start mt-4">
  <div class="row justify-content-center justify-content-md-start mt-4 ms-4">
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <h2>Info of the episode</h2>
      <div>
        <p><strong>Name:</strong> {{ episode?.name }}</p>
        <p><strong>Air Date:</strong> {{ episode?.air_date }}</p>
        <p><strong>Episode Code:</strong> {{ episode?.episode }}</p>
        <button (click)="toggleFavorite()">
          {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
        </button>
      </div>
    <!-- Seccion de comentario -->
    <div>
      <h3>Comments</h3>
      <!-- Solo muestra el formulario si los comentarios no están desactivados -->
      <div *ngIf="!commentsDisabled">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <textarea 
            formControlName="text" 
            placeholder="Write your comment...">
          </textarea>
          <button type="submit">{{ editMode ? 'Update Comment' : 'Post Comment' }}</button>
        </form>
      </div>
    
      <ul>
        <li *ngFor="let comment of comments">
          <img 
            [src]="comment.author.profilePicture || placeholderImage" 
            alt="Profile" 
            class="profile-picture">
          <p>{{ comment.author.name }}</p>
          <p>{{ comment.text }}</p>
          <button *ngIf="canEdit(comment)" (click)="editComment(comment)">Edit</button>
          <button *ngIf="canEdit(comment)" (click)="deleteComment(comment.id)">Delete</button>
          <button *ngIf="isAdmin" (click)="disableComments()">Disable Comments</button>
        </li>
      </ul>
    </div>
    
    <div class="col-12 col-md-8">
      <h2>Characters in this episode</h2>
      <ul>
        <li *ngFor="let character of characters">
          <a [routerLink]="['/characters', character.id]">{{ character.name }}</a>
        </li>
      </ul>
    </div>
    
  </div>
</div>
  