<app-header></app-header>
<div class="mt-4 ms-4 me-4">
   <app-navbar></app-navbar>
</div>
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <!-- Info del episodio -->
    <div class="col-12 col-md-4 col-lg-3 mb-4 episode-info">
      <div class="card p-3">
        <h2 class="text-secondary">Info of the episode</h2>
        <p class="text-secondary"><strong>Name:</strong> {{ episode?.name }}</p>
        <p class="text-secondary"><strong>Air Date:</strong> {{ episode?.air_date }}</p>
        <p class="text-secondary"><strong>Episode Code:</strong> {{ episode?.episode }}</p>
        <button class="btn btn-primary w-100 mt-3" (click)="toggleFavorite()">
          {{ isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
        </button>
      </div>
    </div>

    <!-- Lista de personajes -->
    <div class="col-12 col-md-8 episode-characters">
      <div class="card p-3">
        <h2 class="text-secondary">Characters in this episode</h2>
        <ul class="list-unstyled">
          <li *ngFor="let character of characters">
            <a [routerLink]="['/characters', character.id]" class="character-link text-primary">
              {{ character.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
